@font-face {
  font-family: 'Manrope';
  src: url('./Manrope.ttf');
}
body {
  background-color: #f0f4fc;
  width: 500px;
  padding: 24px;
  font-family: Manrope, sans-serif;
}
#close {
  width: 452px;
  height: 52px;
  margin-bottom: 4px;
}
#square {
  width: 52px;
  height: 52px;
  float: right;
  background-color: #ffffff;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
}
h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 18px;
}
.button {
  width: 428px;
  height: 72px;
  background-color: #d7e2f6;
  border-radius: 10px;
  margin-bottom: 4px;
  padding-left: 24px;
  text-align: left;
  vertical-align: middle;
}
.button p {
  color: #1f4284;
  font-size: 18px;
  display: inline-block;
}
#remember {
  display: table;
  height: 25px;
  margin-bottom: 36px;
}
.cell {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
#emptySquare {
  display: inline-block;
  border: solid #323232;
  border-width: 2px;
  border-radius: 5px;
  width: 18px;
  height: 18px;
}
#remember p {
  margin-left: 14px;
}
#restore {
  font-size: 20px;
  font-weight: 500;
  color: #244c98;
  margin-bottom: 36px;
}
#enter {
  width: 452px;
  height: 65px;
  background-color: #244c98;
  color: #1f4284;
  border-radius: 10px;
  margin-bottom: 4px;
  text-align: center;
  vertical-align: middle;
}
#enter p {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
#register {
  width: 452px;
  height: 65px;
  color: #1f4284;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}
#register p {
  display: inline-block;
  color: #244c98;
  font-size: 18px;
  font-weight: 500;
}
