@font-face {
  font-family: 'Manrope';
  src: url('./Manrope.ttf');
}
body {
  padding: 14px 24px;
  font-family: Manrope, sans-serif;
}
#table {
  background-color: #ebf0fa;
  border-radius: 10px;
}
#main {
  padding: 24px;
  vertical-align: top;
}
h1 {
  color: #1f4284;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 14px;
}
h1 + p {
  color: #727272;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 18px;
}
#button {
  width: 251px;
  height: 36px;
  padding: 10px 10px 10px 18px;
  display: table;
  background-color: #244c98;
  border-radius: 60px;
  margin-bottom: 18px;
}
#mainpart {
  color: #ffffff;
  display: table-cell;
  background-color: #244c98;
  border-radius: 60px;
  font-size: 15px;
  font-weight: 500;
}
#circlecell {
  width: 36px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 9px;
}
#circle {
  display: flex;
  float: right;
  vertical-align: middle;
  text-align: center;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 40px;
}
#circle p {
  margin: auto;
}
#image {
  height: 220px;
  width: 100%;
  vertical-align: bottom;
  text-align: left;
  background-image: url(image.png);
  background-position: center center;
  background-size: cover;
  border-radius: 0px 0px 10px 10px;
}
a {
  text-decoration: none;
}
